<div class="footer-container">
  <div class="footer-content">
    <a href="https://github.com/mtautonico/SwitchCompare/blob/main/LICENSE.md" target="_blank"
       rel="noreferrer">
      <div class="copyrightContainer">
        <span class="copyright footerlink">&copy; {{Year()}} Michael Tautonico</span>
      </div>
    </a>
    <!--TODO: Add ko-fi link and chance logo to a cooler ko-fi link-->
    <div class="footerLinks">
      <a class="footerLink kofi" href="" target="_blank" rel="noreferrer">
        <fa-icon [icon]="faCoffee" size="3x"></fa-icon>
      </a>

      <!--GitHub Repo Link-->
      <a class="footerLink github" href="https://github.com/mtautonico/SwitchCompare" target="_blank"
         rel="noreferrer">
        <fa-icon [icon]="faGithub" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</div>
