<div class="footer-container">
  <div class="footer-content">
    <a href="https://github.com/mtautonico/SwitchCompare/blob/main/LICENSE.md" target="_blank"
       rel="noreferrer">
      <div class="copyrightContainer">
        <span class="copyright footerlink">&copy; {{Year()}} Michael Tautonico</span>
      </div>
    </a>
    <!--TODO: Change icon to Buy me a coffee-->
    <div class="footerLinks">
      <a class="footerLink kofi" href="https://www.buymeacoffee.com/mtautonico8" target="_blank" rel="noreferrer">
        <img class="kofiIcon" src="/assets/ko-fi.svg" alt="ko-fi">
      </a>

      <!--GitHub Repo Link-->
      <a class="footerLink github" href="https://github.com/mtautonico/SwitchCompare" target="_blank"
         rel="noreferrer">
        <fa-icon [icon]="faGithub" size="3x"></fa-icon>
      </a>
    </div>
  </div>
</div>
