.titleBar {
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
}

.switchTable {
  margin-left: auto;
  margin-right: auto;
}

.tHeaderItem {
  padding: 1em;
}

.tItem {
  background-color: lightgray;
}
