<!--TODO: Make the table again-->
<h1 class="titleBar" style="">{{brand}}</h1>
<br/>
<table class="switchTable">
  <thead>
  <tr>
    <th style="border-top-left-radius: 25px;" class="tHeaderItem tItem">Brand</th>
    <th class="tHeaderItem tItem">Model</th>
    <th class="tHeaderItem tItem">Type</th>
    <th class="tHeaderItem tItem">Actuation Distance</th>
    <th class="tHeaderItem tItem">Bottom Distance</th>
    <th class="tHeaderItem tItem">Operating Force</th>
    <th style="border-top-right-radius: 25px;" class="tHeaderItem tItem">Bottom Force</th>
  </tr>
  </thead>
</table>
