.footer-container {
  height: 60px;
  background-color: rgb(230, 230, 230);
}

.footer-content {
  margin: 0 auto;
  text-align: center;
}

.footerLink {
  color: black;
  text-decoration: none; /* no underline */
}

.github {
  float: right;
  padding-right: 1em;
}

.copyright {
  float: left;
  padding-left: 1em;
  color: black;
  text-decoration: none; /* no underline */
}
