<!--Make this shit act like a sticky footer like a good little footer-->
<div class="footer-container">
  <div class="footer-content">
    <br/>
    <a href="https://github.com/mtautonico/SwitchCompare/blob/main/LICENSE.md" target="_blank"
       rel="noreferrer">
      <!--TODO: Replace this with the proper copyright info-->
      <!--<span class="copyright footerlink">&copy; {new Date().getFullYear()} Michael Tautonico</span>-->
    </a>
    <span>I am the homosexual footer here to be a fucking nuisance</span>
    <!--GitHub Repo Link-->
    <a class="footerLink" href="https://github.com/mtautonico/SwitchCompare" target="_blank"
       rel="noreferrer">
      <div class="github">
        <!--TODO: Get another github logo that works for angular-->
        <!--<ImGithub size={25}/>-->
      </div>
    </a>
  </div>
</div>
