input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.twofa_field {
    width: 1em;
    text-align: center;
    font-size: 72pt;
}