<div *ngIf="loaded; then content; else loader"></div>
<!--This is to prevent the browser from yelling at me kuz everything works fine but it seems to think otherwise-->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #content>
  <div class="content">
    <div class="compareCard initial">
      <h1 class="titleBar">{{this.brand1Data[0].brand}} {{this.brand1Data[0].model}}</h1>
      <img class="switchImage" src="{{this.brand1Data[0].image}}"
           alt="{{this.brand1Data[0].brand}} {{this.brand1Data[0].model}} image"/>
      <span
        class="cardText actuationDistance">Actuation Distance:
        {{parseFloat(this.brand1Data[0].actuation_distance)}}mm</span>
      <br/>
      <span class="cardText bottomDistance">Bottom Distance:
        {{parseFloat(this.brand1Data[0].bottom_distance)}}mm</span>
      <br/>
      <span class="cardText operatingForce">Operating Force:
        {{parseFloat(this.brand1Data[0].operating_force)}}g</span>
      <br/>
      <span class="cardText bottomForce">Bottom Force: {{parseFloat(this.brand1Data[0].bottom_force)}}g</span>
    </div>
    <div *ngIf="brand2Data.length !== 0; then card2; else compare2ndSwitch"></div>
    <ng-template #card2>
      <div class="compareCard 2nd">
        <h1 class="titleBar">{{this.brand2Data[0].brand}} {{this.brand2Data[0].model}}</h1>
        <img class="switchImage" src="{{this.brand2Data[0].image}}"
             alt="{{this.brand2Data[0].brand}} {{this.brand2Data[0].model}} image"/>
        <span
          class="cardText switchStat actuationDistance">Actuation Distance:
          {{parseFloat(this.brand2Data[0].actuation_distance)}}mm</span>
        <span [ngClass]="getDiffColor('actuation_distance')" class="cardText">{{getDiff("actuation_distance")}}</span>
        <br/>
        <span class="cardText switchStat bottomDistance">Bottom Distance:
          {{parseFloat(this.brand2Data[0].bottom_distance)}}mm</span>
        <span [ngClass]="getDiffColor('bottom_distance')" class="cardText">{{getDiff("bottom_distance")}}</span>
        <br/>
        <span class="cardText switchStat operatingForce">Operating Force:
          {{parseFloat(this.brand2Data[0].operating_force)}}g</span>
        <span [ngClass]="getDiffColor('operating_force')" class="cardText">{{getDiff("operating_force")}}</span>
        <br/>
        <span class="cardText switchStat bottomForce">Bottom Force:
          {{parseFloat(this.brand2Data[0].bottom_force)}}g</span>
        <span [ngClass]="getDiffColor('bottom_force')" class="cardText">{{getDiff("bottom_force")}}</span>
      </div>
    </ng-template>
    <ng-template #compare2ndSwitch>
      <div class="compareCard add2ndSwitch">
        <span (click)="AddSwitch()">+Add 2nd Switch</span>
      </div>
    </ng-template>
  </div>
</ng-template>
